<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="5">
    <title>HOMEOPS</title>
</head>
<body>
    <h1>HOMEOPS </h1>
    <h5>🟢Server Online</h5>
    <h5>Hostname: <span id="display-hostname">Loading...</span></h5>
    <h5>Last Updated: <span id= "display-last-updated">Loading...</span></h5>
    <h5>OS: <span id= "display-os">Loading...</span></h5>
    <h3>Uptime: <span id="display-uptime">Loading...</span></h3>
    <h3>CPU: <span id= "display-cpu">Loading...</span></h3>
    <h3>Memory: <span id= "display-memory">Loading...</span></h3>
    <h3>Storage: <span id= "display-storage">Loading...</span></h3>
    <h3>Temperature: <span id= "display-temperature">Loading...</span></h3>


    <script src="/templates/static/js/script.js"></script>
</body>
</html> 
